<%= form_for([@poll, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </p>
  <p>
    <% @kind_options.each do |option| %>
      <%= f.radio_button :kind, option[1] %>
      <%= option[0] %>
    <% end %>
  </p>

  <div class="panel panel-default">
    <div class="panel-heading">Options</div>
    <div class="panel-body">
      <%= f.fields_for :possible_answers do |possible_answer| %>
        <%= render 'possible_answer_fields', f: possible_answer %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add option', f, :possible_answers %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :poll_id %>


  <p>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <p>
<% end %>
