<p id="notice"><%= notice %></p>

<h1>Listing Polls</h1>

<ul>
  <% @polls.each do |poll| %>
    <li>
      <%= poll.title %> |
      <%= link_to 'Show', poll, class: "btn btn-default" %>
      <%= link_to 'Edit', edit_poll_path(poll), class: "btn btn-default" %>
      <%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      <%= link_to 'Add question', new_poll_question_path(poll), class: "btn btn-default" %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Poll', new_poll_path, class: "btn btn-primary" %>
